@import './Mixins'

$notificationColor: #222;
$notificationHoverColor: #111;
$fontColor: #fff;

.notification-box-positioner
    display: block
    position: absolute
    overflow: hidden
    pointer-events: none

    &.top-left
        top: 0
        left: 0

        .notification-container .notification-box
            float: left
            margin: 10px 10px 0px 10px

    &.top-right
        top: 0
        right: 0

        .notification-container .notification-box
            float: right
            margin: 10px 10px 0px 10px
    
    &.bottom-left
        bottom: 0
        left: 0

        .notification-container .notification-box
            float: left
            margin: 0px 10px 10px 10px

    &.bottom-right
        bottom: 0
        right: 0

        .notification-container .notification-box
            float: right
            margin: 0px 10px 10px 10px

    .notification-container 
        box-sizing: border-box
        transition: all 0.3s ease-in-out
        transition-delay: 0.2s
        overflow: hidden
        height: 100%
        max-height: 100px
        pointer-events: auto;

        $inTime: 600ms
        $outTime: 600ms

        @include fade-transition($inTime, $outTime)
        @include slide-top-transition($inTime, $outTime)
        @include slide-right-transition($inTime, $outTime)
        @include slide-bottom-transition($inTime, $outTime)
        @include slide-left-transition($inTime, $outTime)
        @include pop-transition($inTime, $outTime)

        .notification-box
            box-sizing: border-box
            top: 120%
            left: 0
            background: $notificationColor
            box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
            color: $fontColor
            overflow: hidden
            padding: 5px 10px
            border-radius: 2px
            width: 300px
            transition: background 0.5s ease-in-out
            cursor: pointer

            &:hover 
                background: $notificationHoverColor

            table 
                width: 100%

                tr
                    height: 100%

                    td 
                        height: 100%
                        padding: 0

                        svg 
                            display: block

                        &.left-box
                            padding-right: 10px

                        &.middle-box 

                        &.right-box
                            height: 20px
                            width: 20px

                            .close-icon 
                                padding: 4px
                                height: 14px
                                width: 14px
                                border-radius: 2px
                                cursor: pointer

                                &:hover svg line
                                    stroke: grey

                                svg 
                                    height: 100%
                                    width: 100%
                                    display: block

                                    line
                                        stroke: $fontColor


