/* Base Application Styles */
body 
    color: #fff
    background: #222

.index img
    margin: 40px auto
    border-radius: 4px
    background: #fff
    display: block


.index .notice
    margin: 20px auto
    padding: 15px 0
    text-align: center
    border: 1px solid #000
    border-width: 1px 0
    background: #666


.notification-box-positioner
    display: block
    position: absolute
    bottom: 0
    height: 100px
    left: 0
    overflow: hidden

    &.active
        .notification-container 
        
            .notifcation-box
                opacity: 1
                top: 0


    .notification-container 
        box-sizing: border-box
        padding: 10px
        height: 100%

        .notifcation-box
            box-sizing: border-box
            height: 100%
            position: absolute
            top: 120%
            left: 0
            background: red
            color: white
            overflow: hidden
            padding: 10px
            border-radius: 5px
            position: relative
            opacity: 0
            transition: opacity 0.3s ease-in-out, top 0.2s ease-in-out
            // transition-delay: 0.1s;
            // transition-property: opacity;

            .close-notifications 
                position: absolute
                top: 5%
                right: 5%

            .notification-information
                height: 100%
                box-sizing: border-box
                display: flex


                .notification-icon
                    display: inherit;
                    height: 100%

                    img 
                        margin: 0
                        height: 100%
                        width: auto

                .notification-information
                    height: 100%
                    box-sizing: border-box
                    display: inherit;
                    line-height: 100%;
                    padding: 0 10px 0 30px
                    align-items: center;
                    justify-content: center;
