@mixin fade-transition($inDuration, $outDuration) 
    &.fade-enter 
            opacity: 0;
            max-height: 0

    &.fade-enter-active 
        opacity: 1;
        transition: all 300ms ease-in-out;
        max-height: 100px

    &.fade-leave 
        opacity: 1;

    &.fade-leave-active 
        opacity: 0;
        transition: all 300ms ease-in-out;


@mixin slide-bottom-right-transition($inDuration, $outDuration) 
    &.fade-enter 
            opacity: 0;
            max-height: 0

    &.fade-enter-active 
        opacity: 1;
        transition: all 300ms ease-in-out;
        max-height: 100px

    &.fade-leave 
        opacity: 1;

    &.fade-leave-active 
        opacity: 0;
        transition: all 300ms ease-in-out;

@mixin slide-bottom-left-transition($inDuration, $outDuration) 
    &.fade-enter 
            opacity: 0;
            max-height: 0

    &.fade-enter-active 
        opacity: 1;
        transition: all 300ms ease-in-out;
        max-height: 100px

    &.fade-leave 
        opacity: 1;

    &.fade-leave-active 
        opacity: 0;
        transition: all 300ms ease-in-out;

@mixin slide-top-right-transition($inDuration, $outDuration) 
    &.fade-enter 
            opacity: 0;
            max-height: 0

    &.fade-enter-active 
        opacity: 1;
        transition: all 300ms ease-in-out;
        max-height: 100px

    &.fade-leave 
        opacity: 1;

    &.fade-leave-active 
        opacity: 0;
        transition: all 300ms ease-in-out;

@mixin slide-top-left-transition($inDuration, $outDuration) 
    &.fade-enter 
            opacity: 0;
            max-height: 0

    &.fade-enter-active 
        opacity: 1;
        transition: all 300ms ease-in-out;
        max-height: 100px

    &.fade-leave 
        opacity: 1;

    &.fade-leave-active 
        opacity: 0;
        transition: all 300ms ease-in-out;

@mixin pop-transition($inDuration, $outDuration) 
    &.fade-enter 
            opacity: 0;
            max-height: 0

    &.fade-enter-active 
        opacity: 1;
        transition: all 300ms ease-in-out;
        max-height: 100px

    &.fade-leave 
        opacity: 1;

    &.fade-leave-active 
        opacity: 0;
        transition: all 300ms ease-in-out;